/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a{
  text-decoration: none;
}
li {
  list-style: none;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
button {
  width: 150px;
  margin: 30px 20px 0 0 ;
}


.color-blue {
  color: #3F51B5;
}
.color-red {
  color: #d63535;
}
